<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Face Recognition Attendance System</title>
        <link rel="stylesheet" href="D:/STUDY/Face_Recognition_System/static/css/styles.css">
    </head>
    <body>
        <h1>Welcome to Face Recognition Attendance System</h1>
        <ul>
            <li><a href="/video_feed">Open Camera</a></li>
            <li><a href="/attendance">History of attendance</a></li>
            <li><a href="/add_person">Add new person</a></li>
        </ul>
    </body>
</html>